.forecast_container {
  margin-top: 6rem;
}
.days_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.day {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  background-color: rgba(19, 19, 19, 0.247);
  padding: 1.8rem .8rem;
  border-radius: 30px;
}
.day p {
  font-size: .95rem;
}
@media only screen and (max-width: 768px) {
  .days_container {
    justify-content: flex-start;
    gap: 25px;
  }
  .day {
    padding: 1.8rem .6rem;
  }
  .day p {
    font-size: .85rem;
  }
}
@media only screen and (max-width: 600px) {
  .forecast_container {
    margin-top: 2rem;
  }
  .days_container {
    justify-content: center;
    gap: 10px;
  }
  .day {
    padding: 1.5rem .4rem;
    gap: 10px;
  }
}